<%= nested_form_for @team do |f| %>
  <% if f.object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(f.object.errors.count, "error") %>.
      </div>
      <ul>
      <% f.object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name, "Team name:"%><br />
    <%= f.text_field :name %>
    <%= f.label :game, "Game type:" %><br />
    <%= f.select :game, options_for_select(%w[highlander 6v6 unspecified]), :include_blank=>"game mode" %>
  </p>
  <p>
    The first user below is yourself.
  </p>
  <p>----------------------------------------------------------------</p>
  <%= f.fields_for :users_teams %>
  <p><%= f.link_to_add "Add a member slot", :users_teams %></p>
  <p><%= f.submit "Submit" %></p>
<% end %>
