<p>
  <%= f.label :user_id %>
  <%= f.text_field :user_id %>
  <%= f.link_to_remove "remove" %>
  <%= f.label :role, "Class on team:" %>
  <%= f.select :role, options_for_select(["scout", "soldier", "roaming soldier", "pocket soldier", "pyro", "demoman", "heavy", "engineer", "medic", "sniper", "spy"]) %>
</p>
