<% provide :title, 'Teams' %>

<div>
  <h3><%= link_to "Create new team", new_team_path %></h3>
</div>

<br />

<h1 class="exception_of_doom">Your Teams:</h1>
<% if @teams.empty? %>
  <p>You are not a regular member on any teams.</p>
<% else %>
  <table>
    <tr>
      <th>Team Name</th>
      <th>Game Mode</th>
      <th>Leave</th>
      <% if current_user.try(:admin?) %>
        <th>Delete</th>
      <% end %>
    </tr>
    <% for team in @teams %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
        <td><%= team.game %></td>
        <td><%= link_to "leave", reject_team_path(team), :confirm => 'Are you sure?' %></td>
        <% if current_user.try(:admin?) %>
          <td><%= link_to "delete", team, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<h1 class="exception_of_doom">Captained Teams:</h1>
<% if @captained_teams.empty? %>
  <p>You are not a captain of any teams.</p>
<% else %>
  <table>
    <tr>
      <th>Team Name</th>
      <th>Game Mode</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% for team in @captained_teams %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
        <td><%= team.game %></td>
        <td><%= link_to "edit", edit_team_path(team) %></td>
        <td><%= link_to "delete", team, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<h1 class="exception_of_doom">Team Invitations:</h1>
<% if @invitations.empty? %>
  <p>You have no pending invitations.</p>
<% else %>
  <table>
    <tr>
      <th>Team Name</th>
      <th>Game Mode</th>
      <th>Accept</th>
      <th>Decline</th>
    </tr>
    <% for team in @invitations %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
        <td><%= team.game %></td>
        <td><%= link_to "accept", join_team_path(team) %></td>
        <td><%= link_to "decline", reject_team_path(team) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
