<%= form_for @tf2_server do |form| %>
  <% if form.object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(form.object.errors.count, "error") %>.
      </div>
      <ul>
      <% form.object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= form.label :address %><br />
  <%= form.text_field :address %></div>
  <div><%= form.label :name %><br />
  <%= form.text_field :name %></div>
  <div><%= form.label :password %><br />
  <%= form.password_field :password %></div>
  <div><%= form.label :password_confirmation %><br />
  <%= form.password_field :password_confirmation %></div>
  <div><%= form.label :tags %><br />
  <%= form.text_field :tags %></div>
  <div><%= form.label :dedicated, "Competitive server?" %><br />
  <%= form.check_box :dedicated %></div>
  <div><%= form.label :game, "Game mode:" %><br />
  <%= form.select :game, options_for_select(%w[unspecified highlander 6v6]), :include_blank=>"game mode" %></div>
  <div><%= form.submit 'Add Server' %></div>
  <div><%= form.label :region, "Region (by timezone)"%><br />
    <%= form.select :region, options_for_select(%w[EST CST MST PST]), :include_blank=>"timezone" %></div>
<% end %>
