<% provide :title, "Server #{@tf2_server.name}" %>

<h1><%= @tf2_server.name %></h1>
<div class="row">
  <div class="span5" id="server_show_table">
    <table width="100%">
      <tr>
        <td width="25%">
          Address:
        </td>
        <td>
          <%= @tf2_server.address %>
        </td>
      </tr>
      <tr>
        <td>
          Password:
        </td>
        <td>
          <%= @tf2_server.password %>
        </td>
      </tr>
      <tr>
        <td>
          Region:
        </td>
        <td>
          <%= @tf2_server.region %>
        </td>
      </tr>
      <tr>
        <td>
          Players:
        </td>
        <td>
          <%= @tf2_server.players %>/<%= @tf2_server.maxplayers %>
        </td>
      </tr>
      <tr>
        <td>
          Map:
        </td>
        <td>
          <%= @tf2_server.map %>
        </td>
      </tr>
      <tr>
        <td>
          Dedicated:
        </td>
        <td>
          <%= @tf2_server.dedicated %>
        </td>
      </tr>
      <% if @tf2_server.is_dedicated? %>
        <tr>
          <td>
            Gamemode:
          </td>
          <td>
            <%= @tf2_server.game %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <% if @tf2_server.is_dedicated? %>
    <div class="span6 offset1">
      <table>
        <tr>
          <td width="25%">
            Game type:
          </td>
          <td>
            <%= @tf2_server.game %>
          </td>
        </tr>
        <tr>
          <td>
            Red Team:
          </td>
          <td>
            <% if @team_one.is_not_temporary? %>
              <%= @team_one.name %>
            <% end %>
          </td>
        </tr>
        <% @team_one.users.each do |user| %>
          <tr>
            <td>
              <%= user.username %>
            </td>
            <td>
              <%= user.users_teams.where(:team_id => @team_one.id).first.role %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            Blue Team:
          </td>
          <td>
            <% if @team_two.is_not_temporary? %>
              <%= @team_two.name %>
            <% end %>
          </td>
        </tr>
        <% @team_two.users.each do |user| %>
          <tr>
            <td>
              <%= user.username %>
            </td>
            <td>
              <%= user.users_teams.where(:team_id => @team_two.id).first.role %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div id="emergency_button_formatting">
      <%= link_to 'back', tf2_servers_path, {class: "btn btn-link"} %>
      <% if not @current_user_joined %>
        <%= render "join_form" %>
      <% else %>
        <% if not @current_user_readied %>
          <%= link_to 'ready', ready_tf2_server_path(@tf2_server), {class: "btn btn-link"} %>
        <% else %>
          <p>Waiting for all members to ready... Refresh to check if all members are ready.</p>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div id="emergency_button_formatting">
      <%= link_to 'back', tf2_servers_path, {class: "btn btn-link"} %>
      <a href="steam://connect/<%= @tf2_server.address %>/<%= @tf2_server.password %>" class="btn btn-link">join</a>
    </div>
  <% end %>
</div>
<div>
  <h3>Reviews:</h3>
  <% if @tf2_server.reviews.empty? %>
  <div>
    No reviews posted yet.
  </div>
  <% else %>
  <!--TODO: Make this formatting be less crap awful-->
  <table id="reviews" width="100%">
    <% @tf2_server.reviews.each do |review| %>
    <tr id="review">
      <td>
	<h5><%= review.title %></h5>
	<div id="ratings">
	  Administration: <%= review.rating_administration %> | Reliability: <%= review.rating_reliability %> | Speed: <%= review.rating_speed %> | Other: <%= review.rating_other %>
	</div>
	<p>
	  "<%= review.content %>"
	</p>
	<div id="review_author" valign="center">
	  -<%= review.user_id %>
	</div>
      </td>
    </tr>
    <% end %>
  </table>
  <%= link_to 'Write a review!', new_review_path, {class: "btn btn-link"}%>
  <% end %>
</div>
