<% provide :title, "Server #{@tf2_server.name}" %>

<h1><%= @tf2_server.name %></h1>
<div class="row">
  <div class="span5" id="server_show_table">
    <table width="100%">
      <tr>
	<td width="25%">
	  Address:
	</td>
	<td>
	  <%= @tf2_server.address %>
	</td>
      </tr>

      <tr>
	<td>
	  Password:
	</td>
	<td>
	  <%= @tf2_server.password %>
	</td>
      </tr>

      <tr>
	<td>
	  Region:
	</td>
	<td>
	  <%= @tf2_server.region %>
	</td>
      </tr>

      <tr>
	<td>
	  Players:
	</td>
	<td>
	  <%= @tf2_server.players %>/<%= @tf2_server.maxplayers %>
	</td>
      </tr>

      <tr>
	<td>
	  Map:
	</td>
	<td>
	  <%= @tf2_server.map %>
	</td>
      </tr>

      <tr>
	<td>
	  Dedicated:
	</td>
	<td>
	  <%= @tf2_server.dedicated %>
	</td>
      </tr>

      <% if @tf2_server.is_dedicated? %>

      <tr>
	<td>
	  Gamemode:
	</td>
	<td>
	  <%= @tf2_server.game %>
	</td>
      </tr>

      <% end %>
    </table>

    <div id="emergency_button_formatting"><%= link_to 'back', tf2_servers_path, {class: "btn btn-link"} %>  <a href="steam://connect/<%= @tf2_server.address %>/<%= @tf2_server.password %>" class="btn btn-link">join</a></div>
  </div>
  <div class="span6 offset1">
    <!-- Finish reviews/flags for servers -->
    <h4>Flags</h4>
    <h4>Reviews</h4>
  </div>
</div>
