<%= form_for @server do |form| %>

<% if form.object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(form.object.errors.count, "error") %>.
    </div>
    <ul>
    <% form.object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form.label :address %>
<%= form.text_field :address %>
<br>
<%= form.label :name %>
<%= form.text_field :name %>
<br>
<%= form.label :password %>
<%= form.text_field :password %>
<br>
<%= form.label :tags %>
<%= form.text_field :tags %>
<br>
<%= form.label :dedicated, "Competitive server?" %>
<%= form.check_box :dedicated %>
<br>
<%= form.label :region, "Region (by timezone)"%>
<%= form.select :region, options_for_select(%w[EST CST MST PST]) %>
<br>
<%= form.label :game, "Game mode:" %>
<%= form.select :game, options_for_select(%w[unspecified highlander 6v6]) %>
<br>
<%= form.submit 'Add Server' %>

<% end %>
