<% provide :title, 'Servers' %>

<%# TODO: figure out how to make seperate search page %>
<%# TODO: have form "remember" previous search %>
<div class="row">
  <div class="span5" id="potato">
    <h1 class="exception_of_doom">Search!</h1>
    <%= search_form_for @search, url: search_servers_path, html: { method: :post, class: "form-inline" } do |f| %>
    <div>
      <%= f.label :name_cont, "Name of server contains:" %>
      <%= f.text_field :name_cont %>
    </div>
    <div>
      <%= f.label :map_cont, "Map name contains:" %>
      <%= f.text_field :map_cont %>
    </div>
    <div class="fields_are_small_as_crap">
      <%= f.label :players_gteq, "Number of players between" %>
      <%= f.text_field :players_gteq %>
      <%= f.label :players_lteq, "and" %>
      <%= f.text_field :players_lteq %>
    </div>
    <div class="fields_are_small_as_crap">
      <%= f.label :maxplayers_gteq, "Maximum players between" %>
      <%= f.text_field :maxplayers_gteq %>
      <%= f.label :maxplayers_lteq, "and" %>
      <%= f.text_field :maxplayers_lteq %>
    </div>
    <div class="fields_are_small_as_crap">
      <%= f.label :free_spots_gteq, "Number of free spots between" %>
      <%= f.text_field :free_spots_gteq %>
      <%= f.label :free_spots_lteq, "and" %>
      <%= f.text_field :free_spots_lteq %>
    </div>
    <div>
      Only competitive servers? <%= f.check_box :dedicated_true %>
    </div>
    <div>
      Only noncompetitive servers? <%= f.check_box :dedicated_false %>
    </div>
    <div>
      Game type: <%= f.select :game_eq, options_for_select(%w[ unspecified highlander 6v6]), :include_blank=>"game mode" %>
    </div>
    <div>
      Region (by timezone): <%= f.select :region_eq, options_for_select(%w[ EST CST MST PST]), :include_blank=>"timezone" %>
    </div>
    <br />
    <br />
    <div>
      <%= f.submit "search", {class: "btn btn-link"} %>
    </div>
    <% end %>
  </div>
  <div class="span7">
    <h1 class="exception_of_doom2">Servers!</h1>

    <%# What Railscasts recommends: (not sure why no partials, but they know better) %>
    <% if @servers.empty? %>
    <div>
      No servers found.
    </div>
    <% else %>
    <table id="servers" width="100%">
      <tr>
	      <th><%= sort_link @search, :name, "Server Name" %></th>
	      <th><%= sort_link @search, :region, "Region" %></th>
	      <th><%= sort_link @search, :dedicated, "Competitive?" %></th>
	      <th><%= sort_link @search, :game, "Game mode" %></th>
	      <% if current_user.try(:admin?) %>
	        <th>Delete server:</th>
	      <% end %>
      </tr>
      <% @servers.each do |server| %>
      <tr id="this_is_probably_a_server">
	      <td><%= link_to server.name, server %></td>
	      <td><%= server.region %></td>
	      <td><%= server.dedicated %></td>
	      <td><%= server.game %></td>
	      <% if current_user.try(:admin?) %>
	        <td><%= link_to 'delete', server, :method=>:delete %></td>
	      <% end %>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div>
</div>
