<% provide :title, "Search" %>

<h2>Search for servers:</h2>
<%= search_form_for @search, url: search_servers_path,
                        html: { method: :post } do |f| %>
  <div>
    <%= f.label :name_cont %>
    <%= f.text_field :name_cont %>
  </div>

  <div>
    <%= f.label :map_cont %>
    <%= f.text_field :map_cont %>
  </div>

  <div>
    <%= f.label :map_cont %>
    <%= f.text_field :map_cont %>
  </div>

  <div>
    <%= f.label :players_gt %>
    <%= f.text_field :players_gt %>
  </div>

  <div>
    <%= f.label :players_lt %>
    <%= f.text_field :players_lt %>
  </div>

  <div>
    <%= f.label :free_spots_gt %>
    <%= f.text_field :free_spots_gt %>
  </div>

  <div>
    <%= f.label :free_spots_lt %>
    <%= f.text_field :free_spots_lt %>
  </div>

  <div>
    <%= f.label :maxplayers_gt %>
    <%= f.text_field :maxplayers_gt %>
  </div>

  <div>
    <%= f.label :maxplayers_lt %>
    <%= f.text_field :maxplayers_lt %>
  </div>

  <div>
    Dedicated server (probably competitive): <%= f.check_box :dedicated_true %>
  </div>

  <div>
    Game type: <%= f.select :game_eq, options_for_select(%w[highlander 6v6 unspecified]) %>
  </div>

  <div>
    <%= f.submit "search" %>
  </div>

<% end %>
