<% provide(:title, "Forum") %>

<h1><%= @subforum.name %></h1>

<h3><%= link_to 'New thread', new_chain_path %></h3>

<%# What Railscasts did for table: (not sure why no partials, but they know better) %>
<% if @chains.empty? %>
  <div>
  	No threads in this topic.
  </div>
<% else %>
  <table id="Threads">
    <tr>
      <th>Topic</th>
      <th>Author</th>
      <th>Created</th>
      <th>Most Recent Post</th>
      <th>Number of replies</th>
      <% if current_user.try(:admin?) %>
        <th>Delete Thread</th>
      <% end %>
    </tr>
  <% @chains.each do |chain| %>
    <tr>
      <td><%= link_to chain.title, chain %></td>
      <td><%= chain.user.username %></td>
      <td><%= chain.created_at.time %></td>
      <td><%= chain.posts.find(:first, :order => "updated_at DESC").updated_at %></td>
      <td><%= chain.posts.count %></td>
      <% if current_user.try(:admin?) %>
        <td><%= link_to 'delete', chain, :method=>:delete %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>
