<%= form_for @post do |form| %>
  <% if form.object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(form.object.errors.count, "error") %>.
      </div>
      <ul>
      <% form.object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= form.label :content, "Message (max. 1000 characters):" %><br />
  <%= form.text_area :content, :cols => "75", :rows => "15" %></div>
  <div><%= form.submit 'Post' %></div>
<% end %>
